{% extends 'base.html' %}

{% block title %}学术研究{% endblock %}

{% block content %}
<div id="div_proj_content">
<h4>唐韶华教授主持的主要国家级科研项目（部分）列表</h4>
<p><b>国家“973”项目：
</b><br /><b>1）首席科学家（项目协调人）</b>，“新型信息器件与智能信息处理相关科学问题研究”，国家“973”前期专项，2015.01 - 2016.12；</p>
<p><b>国家自然科学基金重点类项目：
</b><br /><b>2）项目负责人</b>，“新型信息器件与智能信息处理相关科学问题研究”，国家“973”前期专项，2015.01 - 2016.12；<br />
<b>3）项目负责人</b>，“新型信息器件与智能信息处理相关科学问题研究”，国家“973”前期专项，2015.01 - 2016.12；</p>
<p><b>国家自然科学基金面上、国际合作项目：
</b><br /><b>4）项目负责人</b>, “基于多元多项式的量子免疫公钥密码研究”, 国家自然科学基金项目, 2012.01 - 2015.12；<br />
    </b><br /><b>5）项目负责人</b>, “网格服务的安全体系结构研究”, 国家自然科学基金项目, 2006.01 - 2008.12；<br />
    </b><br /><b>6）项目负责人</b>, “基于XML的新型Web服务的体系结构及关键问题研究”, 国家自然科学基金项目, 2003.01 - 2005.12；<br />
    </b><br /><b>7）项目负责人</b>, "第5届东北亚国际会议及第2届亚洲电子商务国际会议", 国家自然科学基金国际合作项目, 2002.08；<br />
<b>8）项目负责人</b>, “Internet电子商务安全机制的关键问题研究”, 国家自然科学基金项目, 1999.01 - 2001.12；</p>
<p><b>国家“863”项目：
</b><br /><b>9）项目负责人</b>, “网格环境下跨域信息安全关键技术研究”, 国家“863”项目, 2007.08 - 2009.12；<br />
<b>10）项目负责人</b>, “电子商务安全机制的关键问题研究”, 国家“863”项目, 1999.06 - 2001.06；</p>
<p>==================================================================================================</p>
<p>详情请访问：<a href="http://www.scholarmate.com/scmwebsns/pv/tang">http://www.scholarmate.com/scmwebsns/pv/tang</a> </p>
</div>
{% endblock %}
