/*admin主题设置*/
/* id选择器*/
#admin_nav{margin: 4rem auto; width: 60rem;height: 10rem;}
#admin_nav ul li div a:link{color: black}
#admin_nav ul li div a:visited{color: black}
#admin_nav ul li div a:hover{color: grey}
#div_graduates table{table-layout: fixed;width: 50rem}
#div_graduates>table div{width: 100%;overflow: auto;}
#div_graduates button{font-size: 1rem;}
#div_edit{width: 20rem;height: 50rem;position: fixed;left: 10rem;height: -10rem}
#btn_stu_add{position:absolute;left:66rem;top:20.5rem;}
#stu_edit{width: 40rem;height: 40rem;text-align: center}
#stu_edit form{width: 35rem}
/*类选择器*/
.form_list{margin: auto;}
.form_list label{float:left;width: 5rem;height:1.5rem;padding: 0rem 1rem}
.form_list input{display:block;width: 20rem;height:1.5rem;padding: 0rem ;margin: 0rem}

