{% extends 'base.html' %}

{% block app_theme %}
    <link rel="stylesheet" type="text/css" href="/static/css/students_theme.css">
{% endblock %}

{% block title %}教学与人才培养{% endblock %}

{% block content %}
    <div id="div_graduates"><h2>毕业学生名单</h2>
        <table >
            <tr>
                <th>姓名</th>
                <th>在读</th>
                <th>毕业年份</th>
                <th>学历</th>
            </tr>
            {% for item in graduates %}
                <tr>
                    <td><div>{{ item.name }}</div></td>
                    <td><div>{{ item.in_reading }}</div></td>
                    <td><div>{{ item.enrollment }}</div></td>
                    <td><div>{{ item.degree }}</div></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
