<div id="admin_nav" >
   <ul class="ul_nav">
   <li class="li_nav">
       <div><a href="{% url 'manage_about' %}">概况管理</a> </div>
   </li>
   <li class="li_nav">
       <div><a href="{% url 'manage_news' %}">消息管理</a> </div>
   </li>
   <li class="li_nav">
       <div><a href="{% url 'manage_achievement' %}">学术成果管理</a> </div>
   </li>
   <li class="li_nav">
       <div><a href="{% url 'manage_students' %}">人才管理</a> </div>
   </li>
   <li class="li_nav">
       <div><a href="{% url 'manage_experience' %}">学术信息分享管理</a> </div>
   </li>
   <li class="li_nav">
       <div><a href="{% url 'manage_activity' %}">校园生活管理</a></div>
    </li>
   </ul>
</div>