<!DOCTYPE html>
<html lang="en" style="font-size: 125%;text-align: center">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
    <title>{% block title %}默认标题{% endblock %} - 唐韶华的实验室</title>
    <link rel="icon" href="/static/icon/tang.png" type="image/x-icon">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
{% block app_theme %}
{% endblock %}
</head>
<body>
{% if messages %}
<ul class="messages">
    {%for message in messages %}
    <li{%if message.tags %} class="{{ message.tags }}"{% endif %}>{{message }}</li>
    {%endfor %}
</ul>
{% endif %}

{% block pop_layer %}
{% endblock %}

<img id="banner" src="/static/icon/banner.png">
</img>

{% block nav %}
{% include 'nav.html' %}
{% endblock %}


<div id="content" >
    <div id="position">
        当前位置：
    </div>
    <div id="menu">
        <ul class="ul_menu">
        </ul>
    </div>
    <div id="details">
        {% block content %}
            默认内容
        {% endblock %}
    </div>
</div>
<script src="/static/js/layout.js">
</script>

{% block app_sp %}
{% endblock %}

<div id="records" style="font-size: 0.8rem">
<p style="text-align: left"><a href="http://www.miitbeian.gov.cn">粤ICP备17047033号</a></p>
<p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602002373">粤公网安备 44010602002373号</a></p>
</div>

</body>

</html>