{% extends 'base.html' %}

{% block title %}关于我们{% endblock %}

{% block content %}
<div>

<h1><a href="{% url 'tangcard' %}" style="">唐韶华</a></h1>
    <h5 >点击查看名片</h5>
    <ul class="ul_none_style"><div>邮箱:</div>
        <li>shtang@ieee.org</li>
        <li>csshtang@scut.edu.cn</li>
        <li>hua@tanglab.net</li>
    </ul>
    <ul class="ul_none_style"><div>博客:</div>
        <li><a href="http://blog.sciencenet.cn/u/shtang">http://blog.sciencenet.cn/u/shtang</a> </li>
    </ul>

</div>
{% endblock %}
